name: Go
on: [push]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.7

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: test
        run: |
          make vet
          make test
          make bin/notify_slack
